
{% load static %}
{% block content %}


    <header>

        <div class="header-1">

            <a  class="logo "><i class='fas fa-hammer' style='font-size:36px'></i>Smithy</a>
            {% comment %} <div id="autocomplete" class="autocomplete">
                <input class="autocomplete-input" />
                <ul class="autocomplete-result-list"></ul>
            </div> {% endcomment %}
              
            <div action="" class="search-box-container">
                <input type="search" id="search-box" placeholder="search here...">
                <label for="search-box" class="fas fa-search"></label>
            </div>
              
            
        </div>

        <div class="header-2">

            <div id="menu-bar" class="fas fa-bars"></div>

            <ul class="navbar" style="list-style-type:none;">

                {%url 'home' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a  href="{{url}}">Home</a></li>
                {%url 'tools' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Tools</a></li>
                {%url 'agriculture' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Agriculture</a></li>
                {%url 'weapones' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Weapones</a></li>
                {%url 'utensils' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Utensils</a></li>
            </ul>

            <div class="icons">
                
                {% if user.is_authenticated %}
                <a href="{% url 'showcart' %}"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="fas fa-heart"></a>
                <a class="fas fa-user-circle" id="dropdownMenuLink" data-bs-toggle="dropdown"></a>
                {% comment %} <a href="#"><span>{{user.username}}</span></a> {% endcomment %}
                <div class="dropdown-menu" id="profile-dropdown_box" aria-labelledby="dropdownMenuLink">
                    
                    
                    <a class="dropdown-item" href="#"">Welcome {{user.username}}</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item " href="#"><span>My Profile</span></a>
                    <a class="dropdown-item " href="#"><span>Orders</span> </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item " href="{% url 'logout' %}"><span>Logout</span> </a>
                </div>
                    {% comment %} <a class="dropdown-item " href="{% url 'shop:logout'%}"><span>Logout</span></a> {% endcomment %}
                    {%else%}
                    
                    {% comment %} <a   data-bs-toggle="modal" data-bs-target="#Login_page">
                        login
                    </a> {% endcomment %}

                    <a class="dropdown-item " href="{% url 'login' %}"><span>Login</span> </a>
                    {%endif%}
                
                

            </div>

        </div>
        

    </header>
        
   {% endblock %}