{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blacksmiths First Online Shop.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% comment %} <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/> {% endcomment %}
    
</head>

<body>



    <header>

        <div class="header-1">

            <a  class="logo "><i class='fas fa-hammer' style='font-size:36px'></i>Smithy</a>
            {% comment %} <div id="autocomplete" class="autocomplete">
                <input class="autocomplete-input" />
                <ul class="autocomplete-result-list"></ul>
            </div> {% endcomment %}
              
            <div action="" class="search-box-container">
                <input type="search" id="search-box" placeholder="search here...">
                <label for="search-box" class="fas fa-search"></label>
            </div>
              
            
        </div>

        <div class="header-2">

            <div id="menu-bar" class="fas fa-bars"></div>

            <ul class="navbar" style="list-style-type:none;">

                {%url 'home' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a  href="{{url}}">Home</a></li>
                {%url 'tools' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Tools</a></li>
                {%url 'agriculture' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Agriculture</a></li>
                {%url 'weapones' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Weapones</a></li>
                {%url 'utensils' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Utensils</a></li>
            </ul>

            <div class="icons">
                
                {% if user.is_authenticated %}
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="fas fa-heart"></a>
                <a class="fas fa-user-circle" id="dropdownMenuLink" data-bs-toggle="dropdown"></a>
                {% comment %} <a href="#"><span>{{user.username}}</span></a> {% endcomment %}
                <div class="dropdown-menu" id="profile-dropdown_box" aria-labelledby="dropdownMenuLink">
                    
                    
                    <a class="dropdown-item" href="#"">Welcome {{user.username}}</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item " href="#"><span>My Profile</span></a>
                    <a class="dropdown-item " href="#"><span>Orders</span> </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item " href="{% url 'logout' %}"><span>Logout</span> </a>
                </div>
                    {% comment %} <a class="dropdown-item " href="{% url 'shop:logout'%}"><span>Logout</span></a> {% endcomment %}
                    {%else%}
                    
                    {% comment %} <a   data-bs-toggle="modal" data-bs-target="#Login_page">
                        login
                    </a> {% endcomment %}

                    <a class="dropdown-item " href="{% url 'login' %}"><span>Login</span> </a>
                    {%endif%}
                
                

            </div>

        </div>
        

    </header>

    




    <!-- custom js file link  -->
    {% comment %} <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script >
        new Autocomplete('#autocomplete', {
            search : input => {
                if (console) console.log(input)
                const url = `/get_name/?search=${input}`
                return new Promise(resolve => {
                    fetch(url)
                    .then(response =>response.json())
                    .then(data => {
                        if (console) console.log(data)
                        resolve(data.payload)
                    })

                })
            }
            
        })
        
    </script> {% endcomment %}

    {% block content %}

    {% endblock %}
</body>

</html>