{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="product" id="product">

    <h1 class="heading">Select Your <span>weapones</span></h1>

    <div class="box-container">

        {% for n in productData %}
        {% if n.category == "W" %}
        <div class="box">
            {% if n.discount > 0 %}
            <span class="discount">-{{n.discount}}%</span>
            {% endif %}
            <img src="/{{n.product_image}}" alt="">
            <h3>{{n.name}}</h3>

            <div class="price">Rs {{n.discounted_price}}  
                {% if n.discount > 0 %}
                <span> Rs {{n.price}} </span> 
                {% endif %}
            </div>
            <a href="{% url 'product_details' n.id %}" class="btn">Order Now</a>
        </div>
        {% endif %}
        {% endfor %}
        

        
    </div>

</section>
{% endblock %}